<mat-card>
  <mat-card-title>Crear Héroe</mat-card-title>
  <mat-card-content>
    <form [formGroup]="createHeroForm">
      <div class="form-container">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>SuperNombre</mat-label>
          <input matInput formControlName="alias" appCapitalizeWords />
          <mat-error *ngIf="createHeroForm.get('alias')?.hasError('required')">
            Campo es obligatorio.
          </mat-error>
          <mat-error *ngIf="createHeroForm.get('alias')?.hasError('minlength')">
            Valor demasiado corto.
          </mat-error>
          <mat-error *ngIf="createHeroForm.get('alias')?.hasError('pattern')">
            Formato incorrecto
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre Real</mat-label>
          <input matInput formControlName="name" appCapitalizeWords />
          <mat-error *ngIf="createHeroForm.get('name')?.hasError('required')">
            Campo es obligatorio.
          </mat-error>
          <mat-error *ngIf="createHeroForm.get('name')?.hasError('minlength')">
            Valor demasiado corto.
          </mat-error>
          <mat-error *ngIf="createHeroForm.get('name')?.hasError('pattern')">
            Formato incorrecto
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Editorial</mat-label>
          <input matInput formControlName="publishing" />
          <mat-error *ngIf="createHeroForm.get('publishing')?.hasError('required')">
            Campo es obligatorio.
          </mat-error>
          <mat-error *ngIf="createHeroForm.get('publishing')?.hasError('minlength')">
            Valor demasiado corto.
          </mat-error>
          <mat-error *ngIf="createHeroForm.get('publishing')?.hasError('pattern')">
            Formato incorrecto
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" (click)="onCreateHero()">
      Crear Héroe
    </button>
    <button mat-raised-button color="primary" (click)="onCancel()">
      Cancelar
    </button>
  </mat-card-actions>
</mat-card>
