:root {
  --primario: #2b2a4c;
  --blanco: #fff;
  --negro: #000000;
  --fuentePrincipal: "Poppins", sans-serif;
}
body, html {
  height: 100%;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-family: var(--fuentePrincipal);
  font-size: 1.6rem;
  line-height: 1.8;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-color: #eee2de;
  background-image: url("/assets/images/wickedbackground.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}

.header-container {
  background-color: var(--primario);
  color: var(--blanco);
  padding: 2rem 0 2rem 0;
  text-align: center;
}

.footer-container {
  background-color: rgba(0, 0, 0, 0.5);
  color: var(--blanco);
  padding: 1rem 1rem;
  text-align: right;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 100;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--primario);
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav li {
  float: left;
}

.navButtonActive {
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.8);
}

.center-container {
  margin: 2rem 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: calc(100vh - 12.4rem - 4rem);

}
mat-card {
  width: 60%;
  margin: 0 auto;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.table-top {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.table-top > * {
  display: flex;
  align-self: center;
  align-items: center;
  gap: 1rem
}

.table-container {
  width: 60%;
  margin: 0 auto;
}

.list-container {
  background-color: rgba(255, 255, 255, 0) !important;
}

.list-container > * {
  background-color: rgba(255, 255, 255, 0.4) !important;
}

mat-paginator {
  background-color: rgba(255, 255, 255, 0.6) !important;
}
.selected {
  background-color: rgba(103, 103, 103, 0.7) !important;
}
